@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --font-familyI: "Nova Round", system-ui;
  --font-familyII: "Signika", open-sans;
  --font-familyIII: "Texturina", serif;
  --font-familyIV: "Lemon", serif;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(30, 144, 255, 0.1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}


body {
  background-color: rgb(5, 20, 40);
}

.perspective-1000 {
  perspective: 2000px;
  /* Defines depth for 3D transforms */
  perspective-origin: right;
  /* Side view from the left */
}



/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}*/